.container {
    width: 280px;
    height: 380px;
    background-color: #c4c4c4;
    border-radius: 6px;
}

.image {
    width: 100%;
    height: 160px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card_label {
    font-size: 12px;
    opacity: 0.5;
}

.card_body {
    padding: 0px 10px;
}

.card_title {
    font-size: 18px;
}

.card_paragraph {
    font-size: 14px;
    opacity: 0.7;
    padding: 0px 10px;
}

.author {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0px 10px;
}

.author_img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.author_data {
    display: flex;
    flex-direction: column;
    gap: 2px;
}