* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}